/* You can add global styles to this file, and also import other style files */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url('./assets/fonts/Poppins-LightItalic.ttf');
}

@font-face {
    font-family: PopRegular;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

body {
    font-family: PopLight;
    min-height: 90vh;
    display: grid;
    grid-template-rows: 0% 30% 40% 5%;
    color: white;
    background: radial-gradient(rgba(94, 124, 221, 1), rgba(11, 16, 35, 1));
}

.cursor {
    cursor: pointer;
}